@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.container {
    width: 100%;
    padding: 100px 250px;
    min-height: 100vH;
    box-sizing: border-box;
}
.container-board {
    display: flex;
}
.container-board .container-project {
    border: 1px solid blue;
    width: 75%;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.container-board .navigation {
    border: 1px solid green;
    padding: 25px;
    width: 25%;
}


/* -- FORMULAIRE -- */
.formControl {
    display: flex;
    flex-direction: column;
    padding-bottom: 9px;
}
.formControl input, .formControl select {
    padding: 8px 10px;
    box-sizing: border-box;
}
.formControl label {
    font-weight: 700;
    color: #7b7b7b;
    padding-bottom: 3px;
}
.container-board .navigation form button {
    padding: 11px 22px;
    border-radius: 5px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    box-shadow: none !important;
    border: 1px solid #c1c1c1;
    margin-top: 10px;
}


/* -- TUILES PROJETS -- */
.project {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}
.data-project {
    width: 95%;
    display: flex;
}
.data-project span {
    display: flex;
    width: 33.3%;
    padding: 10px 25px;
}

